<main class="main" id="main">
    <div typeof="Region" resource="Main">


<!--COMPONENT: HERO -->
<style>
    .hero53760 {
    background-color:;
}
            .hero53760 .heroImage {
                background-image: url("/assets/img/arctic-1.jpg");
            }
            @media screen and (min-width: 541px) {
                .hero53760 .heroImage {
                    background-image: url("/assets/img/arctic-1.jpg");
                }
            }

            .hero53760 .hero_overlay {
              background: rgba(0, 0, 0, 0);
              color: ;
            }

    /* Styles to handle the gradient before and after the image */
          .hero53760 .heroImage:after {

	            background: -moz-linear-gradient(top,  rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0)), color-stop(100%,rgba(0, 0, 0, 1)));
	            background: -webkit-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
	            background: -o-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
	            background: -ms-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
	            background: linear-gradient(to bottom,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
            }
            @media screen and (min-width: 541px) {

	            .hero53760 .heroImage:after {
		            background: none;
		            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	            }
            }
            @media screen and (min-width: 2400px) {
	            .hero53760 .heroImage:before {
		            background: -moz-linear-gradient(left,  rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
		            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0, 0, 0, 1)), color-stop(100%,rgba(0, 0, 0, 0)));
		            background: -webkit-linear-gradient(left,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
		            background: -o-linear-gradient(left,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
		            background: -ms-linear-gradient(left,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
		            background: linear-gradient(to right,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
                }
                .hero53760 .heroImage:after {
		            background: -moz-linear-gradient(left,  rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
		            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0, 0, 0, 0)), color-stop(100%,rgba(0, 0, 0, 1)));
		            background: -webkit-linear-gradient(left,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
		            background: -o-linear-gradient(left,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
		            background: -ms-linear-gradient(left,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
		            background: linear-gradient(to right,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
	            }
            }
            /* END Styles to handle the gradient before and after the image */

            /* Link Color */
            .hero53760 a,
            .hero53760 a:link,
            .hero53760 a:visited,
            .hero53760 a:hover,
            .hero53760 a:focus,
            .hero53760 a:active {
              color: ;
            }

            /* CTA-Button Color */
            .hero53760 .btn--cta a,
            .hero53760 .btn--cta a:visited {
              color: ;
            }

            /* Link Hover Color
            .hero53760 a:hover,
            .hero53760 a:focus,
            .hero53760 a:active {
              background: rgba(15,15,15,.1);
              border-bottom: 1px solid;
            }*/

            /* CTA-Button Hover Color */
            .hero53760 .btn--cta a:hover,
            .hero53760 .btn--cta a:focus,
            .hero53760 .btn--cta a:active {
              background: rgba(15,15,15,.1);
            }

</style>
  <style>
        .hero53760 {
            background-image: url("/assets/img/arctic-1.jpg");
        }
    </style>

<article class="heroBanner  heroBanner--noTextOverlay hero53760">
    <!--CLASS: topLeft, topRight, topCenter, midLeft, midRight, midCenter, bottomLeft, bottomRight, bottomCenter, heroBanner--noTextOverlay -->
    <div class="heroImage">
        <span class="hidden_visually"></span>
    </div>
    <div class="container">
        <div class="fields">
            <div class="region size12of12">
                            </div>
        </div>
    </div>
</article>


<!--COMPONENT: HERO -->
<style>
    .hero53763 {
    background-color:;
}
            .hero53763 .heroImage {
                background-image: url("/assets/img/arctic-1.jpg");
            }
            @media screen and (min-width: 541px) {
                .hero53763 .heroImage {
                    background-image: url("/assets/img/arctic-1.jpg");
                }
            }

            .hero53763 .hero_overlay {
              background: rgba(0, 0, 0, 0);
              color: ;
            }

    /* Styles to handle the gradient before and after the image */
          .hero53763 .heroImage:after {

	            background: -moz-linear-gradient(top,  rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0)), color-stop(100%,rgba(0, 0, 0, 1)));
	            background: -webkit-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
	            background: -o-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
	            background: -ms-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
	            background: linear-gradient(to bottom,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
            }
            @media screen and (min-width: 541px) {

	            .hero53763 .heroImage:after {
		            background: none;
		            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	            }
            }
            @media screen and (min-width: 2400px) {
	            .hero53763 .heroImage:before {
		            background: -moz-linear-gradient(left,  rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
		            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0, 0, 0, 1)), color-stop(100%,rgba(0, 0, 0, 0)));
		            background: -webkit-linear-gradient(left,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
		            background: -o-linear-gradient(left,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
		            background: -ms-linear-gradient(left,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
		            background: linear-gradient(to right,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
                }
                .hero53763 .heroImage:after {
		            background: -moz-linear-gradient(left,  rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
		            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0, 0, 0, 0)), color-stop(100%,rgba(0, 0, 0, 1)));
		            background: -webkit-linear-gradient(left,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
		            background: -o-linear-gradient(left,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
		            background: -ms-linear-gradient(left,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
		            background: linear-gradient(to right,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
	            }
            }
            /* END Styles to handle the gradient before and after the image */

            /* Link Color */
            .hero53763 a,
            .hero53763 a:link,
            .hero53763 a:visited,
            .hero53763 a:hover,
            .hero53763 a:focus,
            .hero53763 a:active {
              color: ;
            }

            /* CTA-Button Color */
            .hero53763 .btn--cta a,
            .hero53763 .btn--cta a:visited {
              color: ;
            }

            /* Link Hover Color */
            .hero53763 a:hover,
            .hero53763 a:focus,
            .hero53763 a:active {
              background: rgba(15,15,15,.1);
              border-bottom: 1px solid;
            }

            /* CTA-Button Hover Color */
            .hero53763 .btn--cta a:hover,
            .hero53763 .btn--cta a:focus,
            .hero53763 .btn--cta a:active {
              background: rgba(15,15,15,.1);
            }

</style>
  <style>
        .hero53763 {
            background-image: url("/assets/img/arctic-1.jpg");
        }
    </style>

<article class="heroBanner  heroBanner--noTextOverlay hero53763">
    <!--CLASS: topLeft, topRight, topCenter, midLeft, midRight, midCenter, bottomLeft, bottomRight, bottomCenter, heroBanner--noTextOverlay -->
    <div class="heroImage">
        <span class="hidden_visually"></span>
    </div>
    <div class="container">
        <div class="fields">
            <div class="region size12of12">
                            </div>
        </div>
    </div>
</article>


<!--COMPONENT: HERO -->
<style>
    .hero53766 {
    background-color:;
}
            .hero53766 .heroImage {
                background-image: url("/media/640x900-rewards_tcm92-53765.jpg");
            }
            @media screen and (min-width: 541px) {
                .hero53766 .heroImage {
                    background-image: url("/media/Banner-web-Starbucks-Rewards-2400X560_tcm92-53764.jpg");
                }
            }

            .hero53766 .hero_overlay {
              background: rgba(0, 0, 0, 0);
              color: ;
            }

    /* Styles to handle the gradient before and after the image */
          .hero53766 .heroImage:after {

	            background: -moz-linear-gradient(top,  rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0)), color-stop(100%,rgba(0, 0, 0, 1)));
	            background: -webkit-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
	            background: -o-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
	            background: -ms-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
	            background: linear-gradient(to bottom,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
            }
            @media screen and (min-width: 541px) {

	            .hero53766 .heroImage:after {
		            background: none;
		            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	            }
            }
            @media screen and (min-width: 2400px) {
	            .hero53766 .heroImage:before {
		            background: -moz-linear-gradient(left,  rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
		            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0, 0, 0, 1)), color-stop(100%,rgba(0, 0, 0, 0)));
		            background: -webkit-linear-gradient(left,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
		            background: -o-linear-gradient(left,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
		            background: -ms-linear-gradient(left,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
		            background: linear-gradient(to right,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
                }
                .hero53766 .heroImage:after {
		            background: -moz-linear-gradient(left,  rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
		            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0, 0, 0, 0)), color-stop(100%,rgba(0, 0, 0, 1)));
		            background: -webkit-linear-gradient(left,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
		            background: -o-linear-gradient(left,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
		            background: -ms-linear-gradient(left,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
		            background: linear-gradient(to right,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
	            }
            }
            /* END Styles to handle the gradient before and after the image */

            /* Link Color */
            .hero53766 a,
            .hero53766 a:link,
            .hero53766 a:visited,
            .hero53766 a:hover,
            .hero53766 a:focus,
            .hero53766 a:active {
              color: ;
            }

            /* CTA-Button Color */
            .hero53766 .btn--cta a,
            .hero53766 .btn--cta a:visited {
              color: ;
            }

            /* Link Hover Color*/
            .hero53766 a:hover,
            .hero53766 a:focus,
            .hero53766 a:active {
              background: rgba(15,15,15,.1);
              border-bottom: 1px solid;
            }

            /* CTA-Button Hover Color */
            .hero53766 .btn--cta a:hover,
            .hero53766 .btn--cta a:focus,
            .hero53766 .btn--cta a:active {
              background: rgba(15,15,15,.1);
            }

</style>
  <style>
        .hero53766 {
          background-image: url("./img/arctic-1.jpg");        }
    </style>

<article class="heroBanner  heroBanner--noTextOverlay hero53766">
    <!--CLASS: topLeft, topRight, topCenter, midLeft, midRight, midCenter, bottomLeft, bottomRight, bottomCenter, heroBanner--noTextOverlay -->
    <div class="heroImage">
        <span class="hidden_visually"></span>
    </div>
    <div class="container">
        <div class="fields">
            <div class="region size12of12">
                            </div>
        </div>
    </div>
</article>


<!--COMPONENT: HERO -->
<style>
    .hero53769 {
    background-color:;
}
            .hero53769 .heroImage {
                background-image: url("/media/640x900-cafetemporada_tcm92-53768.jpg");
            }
            @media screen and (min-width: 541px) {
                .hero53769 .heroImage {
                    background-image: url("/media/WEB-cafe-de-temporada-2400X560_tcm92-53767.jpg");
                }
            }

            .hero53769 .hero_overlay {
              background: rgba(0, 0, 0, 0);
              color: ;
            }

    /* Styles to handle the gradient before and after the image */
          .hero53769 .heroImage:after {

	            background: -moz-linear-gradient(top,  rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0)), color-stop(100%,rgba(0, 0, 0, 1)));
	            background: -webkit-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
	            background: -o-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
	            background: -ms-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
	            background: linear-gradient(to bottom,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
            }
            @media screen and (min-width: 541px) {

	            .hero53769 .heroImage:after {
		            background: none;
		            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	            }
            }
            @media screen and (min-width: 2400px) {
	            .hero53769 .heroImage:before {
		            background: -moz-linear-gradient(left,  rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
		            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0, 0, 0, 1)), color-stop(100%,rgba(0, 0, 0, 0)));
		            background: -webkit-linear-gradient(left,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
		            background: -o-linear-gradient(left,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
		            background: -ms-linear-gradient(left,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
		            background: linear-gradient(to right,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
                }
                .hero53769 .heroImage:after {
		            background: -moz-linear-gradient(left,  rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
		            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0, 0, 0, 0)), color-stop(100%,rgba(0, 0, 0, 1)));
		            background: -webkit-linear-gradient(left,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
		            background: -o-linear-gradient(left,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
		            background: -ms-linear-gradient(left,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
		            background: linear-gradient(to right,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%);
	            }
            }
            /* END Styles to handle the gradient before and after the image */

            /* Link Color */
            .hero53769 a,
            .hero53769 a:link,
            .hero53769 a:visited,
            .hero53769 a:hover,
            .hero53769 a:focus,
            .hero53769 a:active {
              color: ;
            }

            /* CTA-Button Color */
            .hero53769 .btn--cta a,
            .hero53769 .btn--cta a:visited {
              color: ;
            }

            /* Link Hover Color*/
            .hero53769 a:hover,
            .hero53769 a:focus,
            .hero53769 a:active {
              background: rgba(15,15,15,.1);
              border-bottom: 1px solid;
            }

            /* CTA-Button Hover Color */
            .hero53769 .btn--cta a:hover,
            .hero53769 .btn--cta a:focus,
            .hero53769 .btn--cta a:active {
              background: rgba(15,15,15,.1);
            }

</style>
  <style>
        .hero53769 {
          background-image: url("./img/arctic-1.jpg");
        }
    </style>

<article class="heroBanner  heroBanner--noTextOverlay hero53769">
    <!--CLASS: topLeft, topRight, topCenter, midLeft, midRight, midCenter, bottomLeft, bottomRight, bottomCenter, heroBanner--noTextOverlay -->
    <div class="heroImage">
        <span class="hidden_visually"></span>
    </div>
    <div class="container">
        <div class="fields">
            <div class="region size12of12">
                            </div>
        </div>
    </div>
</article>

</div>
</main>
