<footer class="footer">
  <hr class="separator">
  {% for item in site.data.settings.social %}
    <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% endfor %}
  <div class="post-date">
    <h7>DIRECCION
    <a href="https://wego.here.com/directions/mix//devHouse,-Av.-Nicol%C3%A1s-de-Rivera-El-Viejo-664,-Urbanizaci%C3%B3n-La-Moderna,-110101-Ica,-Peru:e-eyJuYW1lIjoiZGV2SG91c2UiLCJhZGRyZXNzIjoiQXYuIE5pY29sXHUwMGUxcyBkZSBSaXZlcmEgRWwgVmllam8gNjY0LCBVcmJhbml6YWNpXHUwMGYzbiBMYSBNb2Rlcm5hLCBJY2EiLCJsYXRpdHVkZSI6LTE0LjA3ODQ3MjcxMzAxNywibG9uZ2l0dWRlIjotNzUuNzI0NTk2OTc3MjM0LCJwcm92aWRlck5hbWUiOiJmYWNlYm9vayIsInByb3ZpZGVySWQiOjUwNjMyMDM5NjIyOTE1Nn0=?map=-14.07847,-75.7246,15,normal&fb_locale=es_ES">
      Av. Nicolás de Rivera El Viejo 664,Urbanización La Moderna Ica</a>
    </h7>
    <h7>HORARIO<a>LUN-DOM 3PM-11PM</a></h7>
    </div>
</footer>
