---
layout: default
title: Home
---


<article>
  <a href="/carta">
    <div class="featured-posts" style="background-image:url(./assets/img/fondo.jpg)">
      <h2>Carta</h2>
    </div>
  </a>
</article>

<article>
  <a href="/juegos">
    <div class="featured-posts" style="background-image:url(./assets/img/fondo.jpg)">
      <h2>Juegos</h2>
    </div>
  </a>
</article>

<article>
  <a href="/videojuegos">
    <div class="featured-posts" style="background-image:url(./assets/img/fondo.jpg)">
      <h2>Videojuegos</h2>
    </div>
  </a>
</article>

<article>
  <a href="/servicios">
    <div class="featured-posts" style="background-image:url(./assets/img/fondo.jpg)">
      <h2>Servicios</h2>
    </div>
  </a>
</article>

{% for post in paginator.posts %}
{% endfor %}
