---
layout: default
title: Home
---

<article>
  <a href="./carta">
    <div class="featured-posts" style="background-image:url(./assets/img/carta.jpg)">
      <div class="fondo" style="">
        <h2>Carta</h2>
      </div>
    </div>
  </a>
</article>

<article>
  <a href="./juegos">
    <div class="featured-posts" style="background-image:url(./assets/img/juegos.jpg)">
      <div class="fondo" style="">
        <h2>Juegos</h2>
      </div>
    </div>
  </a>
</article>

<article>
  <a href="./videojuegos">
    <div class="featured-posts" style="background-image:url(./assets/img/videojuego.jpg)">
      <div class="fondo" style="">
        <h2>Videojuegos</h2>
      </div>
    </div>
  </a>
</article>

<article>
  <a href="./servicios">
    <div class="featured-posts" style="background-image:url(./assets/img/servicios.jpg)">
      <div class="fondo" style="">
        <h2>Servicios</h2>
      </div>
    </div>
  </a>
</article>

{% for post in paginator.posts %}
{% endfor %}
